global
  log /dev/log  local0
  log /dev/log  local1 notice
  stats socket {{ haproxy_socket | default('/var/lib/haproxy/stats') }} level admin
  chroot {{ haproxy_chroot | default('/var/lib/haproxy') }}
  user {{ haproxy_user | default('haproxy') }}
  group {{ haproxy_group | default('haproxy') }}
  daemon
{% for global_var in haproxy_global_vars %}
  {{ global_var }}
{% endfor %}

defaults
  log     global
  mode    http
  option  httplog
  option  dontlognull
  timeout connect 5000
  timeout client 50000
  timeout server 50000
{% for defaults_var in haproxy_defaults_vars %}
  {{ defaults_var }}
{% endfor %}

{% if haproxy_stats.enabled == 'true' %}
listen stats :{{ haproxy_stats.port }}
  mode http
  stats enable
  stats hide-version
  stats realm Haproxy\ Statistics
  stats uri {{ haproxy_stats.url }}
  stats auth {{ haproxy_stats.username }}:{{ haproxy_stats.password }}

{% endif -%}

{% for frontend in haproxy_frontends %}
frontend {{ frontend.name }}
  bind {{ frontend.listen_address | default('0.0.0.0') }}:{{ frontend.port }}
  maxconn {{ frontend.maxconn | default('1000') }}
  mode {{ frontend.mode | default('http') }}
  default_backend {{ frontend.name }}

{% endfor %}

{% for backend in haproxy_backends %}
backend {{ backend.name }}
  mode {{ backend.mode | default('http') }}
  balance {{ backend.balance | default('roundrobin') }}
  option {{ backend.option | default('forwardfor') }}
{% for backend_servers in backend.hosts %}
  server {{ backend_servers }} {{ backend_servers }}:{{ backend.port }}
{% endfor %}

{% endfor %}
